<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Annokset</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Annokset</h1>
        
        <ul>
            <li th:each="annos : ${annokset}">
                <a th:href="@{~/annokset/{id}(id=${annos.id})}">
                    <span th:text="${annos.nimi}">Annos</span>
                </a>
            </li>
        </ul>
        
        <form method="POST" action="">
                Uusi annos<br/>
                <input type="text" name="Annos"/><br/>
                <input type="submit" value="Lisää annos"/>
        </form>
    </body>
</html>